html {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(253, 240, 224);
    width: 640px;
    height: 960px;
    border-radius: 15px;
    border: 0.5rem solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: 'Fuzzy Bubbles';
    margin-bottom: 20px;
}

#shopping-container {
    width: 100%;
    max-width: 600px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title {
    display: flex;
    align-items: center;
    background-color: rgb(186, 218, 241);
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    color: black;
}

.section-title h2 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#toggleButton {
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 218, 241);
    border: none;
    cursor: pointer;
    border-right: 1px solid gray;
    border-radius: 50% 0 0 50%;
    padding-right: 50px;
}

#addButton {
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 218, 241);
    border: none;
    cursor: pointer;
    border-radius: 0 50% 50% 0;
}

#shopping-list-section {
    background-color: white;
    border: 0.01rem solid rgb(165, 120, 94);
    padding: 15px;
    border-radius: 10px;
}

#shopping-list.expanded {
    display: table;
}

#shopping-list.collapsed {
    display: none;
}


#shopping-list {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border: 0.01rem solid rgb(165, 120, 94);
    border-radius: 10px;
}

#shopping-list td {
    padding: 12px 15px;
    font-size: 22px;
    position: relative;
}

.delete-button {
    background-color: rgb(165, 120, 94);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.plus-button, .minus-button {
    background-color: rgb(165, 120, 94);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
}

.inventory-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 5px;
    background-color: rgb(225, 234, 239);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.inventory-buttons {
    display: flex;
    padding-top: 10px;
    gap: 10px;
}

.add-item-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 5px;
    background-color: rgb(225, 234, 239);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 5px;
}

#item-count {
    font-size: 18px;
    font-weight: normal;
    color: gray;
    margin-left: 10px;
}

/* Footer present in all css files... */
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgb(253, 240, 224);
    border-top: 0.5rem solid black;
    margin-top: 20px;
}

footer img {
    width: 124px;
    height: 118px;
}


/* Popup styles */



#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.popup-content label {
    display: block;
    margin-top: 10px;
}

.popup-content input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}







#popup.hidden {
    display: none;
}


